<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>心理健康测评积极心理品质部分</title>
<!--引入bootstrap的核心css文件-->
<link rel="stylesheet" href="/Views/PartOne/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="/Views/PartOne/css/time.css" />
<link rel="stylesheet" href="/Views/PartOne/css/btns.css" />
<link rel="stylesheet" href="/Views/PartOne/css/index.css" />
<link rel="stylesheet" href="/Views/PartThree/css/pbTest.css" />

<link rel="stylesheet"
	href="/Views/PartOne/layui-v2.3.0/layui/css/layui.css" media="all" />
<!--引入JQuery-->
<script type="text/javascript" src="/Views/PartOne/js/jquery-1.9.1.js"></script>
<!--引入bootstrap的js文件-->
<script type="text/javascript"
	src="/Views/PartOne/bootstrap/js/bootstrap.js"></script>
<script src="/Views/PartOne/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/Views/PartOne/js/time.js"></script>
<script type="text/javascript"
	src="/Views/PartOne/layui-v2.3.0/layui/layui.js" charset="UTF-8"></script>

</head>

<body>
	

		<!--start-->
		<div class="header"></div>
		<!--end-->
		<div style="width:1000px;margin:0 auto;">
		<!--start-->
		<div class="part_btn">
			 <button class="layui-btn layui-btn-primary btn-p" onclick="showView()">指导语</button>
		</div>
		<!--<div class="layui-collapse container" lay-filter="test">
			<div class="layui-colla-item">
				<h2 class="layui-colla-title"
					style="font-family: 'microsoft yahei'; font-size: 18px;">Part
					3指导语</h2>
				<div class="layui-colla-content">
					<p>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						您好！欢迎您参加心理健康测评系统中的积极心理品质测试！下面是一些有关您的生活习惯、兴趣爱好、行为倾向等的调查题目，目的是了解您的个性特点等方面。人们的个性差异很大，没有好与坏、对与错之分，因而请您不要有所顾忌，不必在意他人的看法或评判，要根据自己最近一年的实际情况真实作答。
本测试共有146题，请根据题目的描述与您自己的符合程度点击相应的选项。<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例如：如果您做了如下判断：<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.大多数同学认为我热情、容易接近。<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O 非常不符合  O 不符合  O 有些不符合 O 不确定  O 有些符合  <input type="radio" checked="checked"/>符合  O 非常符合<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.我和父母相处得很好。<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" checked="checked"/>非常不符合  O 不符合  O 有些不符合 O 不确定  O 有些符合  O符合  O 非常符合<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;表示您认为“我和父母相处得很好”是非常不符合自己的实际情况，但是比较认同“大多数同学认为我热情、容易接近”的说法。<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每一页有6个题目，请尽量选择不同的选项。系统会自动筛选出选项相同的题目，请您进一步判断哪一个题目更符合您的实际情况。<br />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请认真作答，不要跳过任何一道题。
					</p>
				</div>
			</div>
		</div>-->
		<!--end-->

		<!--start-->
		<!--进度条-->
		<div class="navbar navbar-default navbar-fixed-top all">
			<!--<div class="all">-->
				<div id="pre_bar">倒计时：</div>
				<div class="layui-progress layui-progress-big size_bar"
					lay-showpercent="true" lay-filter="demo">
					<div class="layui-progress-bar layui-bg-green" lay-percent="0%"></div>
				</div>
			<!--</div>-->
		</div>

		<!--end-->


		<!--start-->
		<div class="container">
			<div class="ks_nr">
				<legend id="title" class="tit"
					style="font-family: 'microsoft yahei';">正式测试</legend>
			</div>
			<div id="parent" class="question"></div>


		</div>
		<!--end-->

		<!--start-->
		<div class="navbar-fixed-bottom container limit_page">
			<!--<div class="">-->

			<div class="pre_next_page">
				<nav>
					<ul class="pager">
						<li id="p_pre"><a href="#" id="pre_page" >上一页</a></li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
						<li><a href="#" id="next_page">下一页</a></li>
					</ul>
				</nav>
			</div>

			<!--</div>-->
		</div>
		<!--end-->
		<!--start-->
		<div class="answer" id="ans">
			<a id="TJ" style="height: 40px; float: right;" onclick="verifyPaper()">交&nbsp;&nbsp;&nbsp;&nbsp;卷</a>
		</div>
		<!--end-->
		</div>
		<!--start-->
		<div class="footer navbar-fixed-bottom"></div>
		<!--end-->
	
	<script type="text/javascript" src="/Views/PartThree/js/pbTest.js"></script>

</body>

</html>