<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>青少年心理素质测评系统</title>
		<link rel="stylesheet" href="/Views/PartOne/AmazeUI-2.7.2/assets/css/amazeui.min.css">
		<script src="/Views/PartOne/jquery-2.1.4/jquery.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
		<script src="/Views/PartOne/AmazeUI-2.7.2/assets/js/amazeui.js"></script>
		<link rel="stylesheet" href="/Views/PartOne/layui-v2.3.0/layui/css/layui.css" media="all" />
		<script type="text/javascript" src="/Views/PartOne/layui-v2.3.0/layui/layui.js" charset="UTF-8"></script>
		<style>
			body {
				font-size: 14px;
				font-family: 'microsoft yahei';
			}
			
			.header {
				text-align: center;
			}
			
			.header h1 {
				font-size: 200%;
				color: #333;
				margin-top: 30px;
			}
			
			.header p {
				font-size: 14px;
			}
			
			.am-btn-primary {
				background-color: #009688;
				border-color: #009688;
			}
			
			.am-btn-primary:hover {
				background-color: #009688;
				border-color: #009688;
			}
		</style>
	</head>

	<body>
		<div class="header">
			<div class="am-g">
				<h1>青少年心理素质测评系统</h1>
			</div>
		</div>
		<div class="am-tabs am-margin" data-am-tabs>
			<ul class="am-tabs-nav am-nav am-nav-tabs">
				<li class="am-active">
					<a href="#tab1">系统登录</a>
				</li>
				<!-- <li><a href="#tab2">测评说明</a></li> -->

			</ul>
			<div class="am-tabs-bd">
				<div class="am-tab-panel am-fade am-in am-active" id="tab1">
					<div class="am-g">
						<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
							<form id="logonForm" method="post" class="am-form">

								<!-- <label for="text">账户:</label>-->
								<br/>
								<label for="text">账号:</label>
								<input type="text" name="username" id="username" value="">
								<!-- <input type="text" name="schoolcode" id="schoolcode" value="">-->
								<br />

								<br>
								<label for="password">密码:</label>
								<input type="password" name="password" id="password" value="">

								<br>

								<!--<br>
  		<label for="text">姓名：</label>
  		<input type="text" name="username" id="username" value="">
  		<br>-->
								<br/>
								<div class="am-cf">
									<font >为了您更好的答题，请安装最新的google浏览器。</font><a href="/Views/PartOne/google.zip" download="goole"><font color="#006DCC">点此下载</font></a><br>
									<font >如果您的当前系统为XP系统请安装火狐浏览器。</font><a href="/Views/PartOne/Firefox.zip" download="goole"><font color="#006DCC">点此下载</font></a>
									<input type="submit" name="logon" id="logon" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fr">
								</div>
							</form>
							<hr>
							<p>© 北京师范大学青少年心理素质测评项目组</p>
						</div>
					</div>
					<div class="am-modal am-modal-alert" tabindex="-1" id="alert">
						<div class="am-modal-dialog">
							<div class="am-modal-hd" id="content">Amaze UI</div>

							<div class="am-modal-footer">
								<span class="am-modal-btn">确定</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/Views/PartOne/js/new_login.js"></script>
	</body>

</html>