<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>问题行为模块测试说明</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="/Views/PartOne/AmazeUI-2.7.2/assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/Views/PartOne/AmazeUI-2.7.2/assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="/Views/PartOne/AmazeUI-2.7.2/assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/Views/PartOne/AmazeUI-2.7.2/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <!--<link rel="stylesheet" href="/Views/PartOne/AmazeUI-2.7.2/assets/css/amazeui.min.css">-->
  <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/Views/PartOne/AmazeUI-2.7.2/assets/css/app.css">
  <style type="text/css">
   body{
 	font-size:14px;
 	font-family:'microsoft yahei';
 }
  	.am-text-primary{
  		color: #009688;
  	}
  	 .am-btn-primary{
    	background-color: #009688;
    	border-color:#009688 ;
    }
    .am-btn-primary:hover{
    	background-color:#009688 ;
    	border-color:#009688 ;
    }
    #head_words{
    	/*border: 1px red solid ;*/
    	width: 200px;
    	margin: 0 auto;
    }
    .am-text-lg{
    	font-size: 25px;
    }
    #center_content{
    	width: 67%;
    	margin: 30px auto;
    }
    .footer_words{
    	/*border: 1px red solid ;*/
    	width: 67px;
    	margin: 0 auto;
    }
  </style>
</head>
<body>
<div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0" id="head_words">
        <div class="am-fl am-cf">
       		<strong class="am-text-primary am-text-lg">问题行为模块</strong>
        </div>
      </div>

      

      <div class="am-g" id="center_content">
        <div class="am-u-sm-centered">
        	<hr/>
          <h2>测试说明</h2>
        <p style="font-size: 18px;">您好，欢迎您参加心理健康测评系统中的问题行为测试！<br/>
1、本测试共分为两个部分，请仔细阅读每一部分题目前的指导语，按要求作答。<br/>
2、测试时间为45分钟，请您在限定时间内完成所有题目，不要遗漏。<br/>
3、任何答案都无对错之分，您所作的选择如能真实地反映您的情况，则为最佳选择。请不要费时斟酌，凭您的第一感觉快速、真实地做出选择。<br/>
4、有些题目您可能感到不太容易回答，或者从未思考过或者接触过。对于这样的题目，同样请您尽量做出选择，不要遗漏。<br/>
5、为保证数据真实有效，本测试加入了测谎手段。如果您没有真实回答，将影响测试结果报告的有效性。
</p>
<p style="font-size: 18px;">感谢您的配合！</p>
          <hr/>
        </div> 
      </div>
    </div>
     <div class="footer_words">
                <button type="button" class="am-btn am-btn-primary" >开始</button>
     </div>
</div>
<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<!--<script src="/Views/PartOne/jquery-2.1.4/jquery.min.js"></script>-->
<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--<script src="/Views/PartOne/AmazeUI-2.7.2/assets/js/amazeui.min.js"></script>-->
<script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<script>
$(document).ready(function(){
	  $("button").click(function(){
		  //alert('ss');
		  location.href = '/partone/sendPBTest';
	  });
	});

</script>
</body>
</html>